.my-table {
    table-layout: fixed;
    border:1px solid #CCC;
    width: 100%;
}

.my-table > tbody > tr > td {
    border:1px solid #CCC;
    padding: 5px;
}

.container {
    max-width: 75%;
    

}