.container-fluid {
    margin-right: 0px;
    width: 100%;
}

.my-table {
    table-layout: auto;
    /* margin: 10px auto; */
    width: 100%;
    overflow: scroll;
}

.my-table > tbody > tr > td {
    padding: 5px;
}

.SearchBar-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.SearchBar-input {
    height: 30px;
    width: 12em;
    align-content: center;
    border: 1px solid white;
    background: #fcfdfd;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.SearchBar-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
    height: 30px;
    padding: 0 18px;
}

    .toast-container {
        width: 500px;
        position: fixed;
        right: 20px;
        top: 20px;
    }
   
.Toast {
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2px;
    height: 30px;
    padding: 0 18px;

}

.population {
    border: 2px solid black;
    outline: #75797e solid 10px;
    margin: auto;    
    padding: 20px;
    text-align: center;
    color: white;
    word-spacing: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18pt;
}

.WeatherTable-container {
    background: #32383e;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    width: 100%;
}


.delete-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
    height: 30px;
    padding: 0 18px;
}

.btn-group {
    margin-left: 0px;
}

.toast-container {
    width: 500px;
    position: fixed;
    right: 20px;
    top: 20px;
}

.app-main-grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-items: center;
    align-items: center;
    background-color: #f1f1f1;
}