<!-- <pre>{{ weatherData | json}}</pre> -->
<!-- <pre>{{weatherData?.query.results.channel.item.forecast | json}}</pre> -->



<div class="my-table">
    <div class="container-fluid">
        <!-- Content here -->
        <input type="text" class="" [(ngModel)]="location">
        <!-- <button (click)="getForecast(location)">Click Here</button> -->
        <button (click)="getForecast(location)" type="button" class="btn btn-info btn-sm">Search</button>
      </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <td>Date</td>
        <td>Day</td>
        <td>High</td>
        <td>Low</td>
        <td>Forecast</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of weeklyForecast">
        <td>{{row.date}}</td>
        <td>{{row.day}}</td>
        <td>{{row.high}}</td>
        <td>{{row.low}}</td>
        <td>{{row.text}}</td>
      </tr>
    </tbody>
  </table>
</div>
