.container-fluid {
    margin-right: 0px;
    width: 95%;
}

.my-table {
    table-layout: auto;
    /* margin: 10px auto; */
    width: 100%;
    overflow: scroll;
}

.my-table > tbody > tr > td {
    padding: 5px;
}

.SearchBar-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.SearchBar-input {
    height: 30px;
    width: 12em;
    align-content: center;
    border: 1px solid white;
    background: #fcfdfd;
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.SearchBar-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
    height: 30px;
    padding: 0 18px;
   
}

.WeatherTable-container {
    background: #32383e;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    width: 100%;
}


.delete-button {
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2px;
    height: 30px;
    padding: 0 18px;
}

.btn-group {
    margin-left: 0px;
}