.app-container-grid {
    display: grid;
    grid-template-rows: 2fr 5fr 2fr;
    height: 100vh;
  }


.container {
    max-width: 75%;

}


.embed-responsive-item {
    height: 400px;
    width: 100%;
    background-color: gray;
}